<h1>New Fave</h1>


<form action="/faves" method="post">
  <label>Product Name: </label>
  <input type="text" name="fave[name]">
  <label>Product Brand: </label>
  <input type="text" name="fave[brand]">
  <input type="submit">
</form>