<h1>Fave</h1>

<p><%= @fave.name %> - <%= @fave.brand %></p>

<form action="/faves/<%=@fave.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>