<h1><%= current_user.username %>'s Faves</h1>

<ul>
<% current_user.each do |user| %>
    <li><a href="/users/<%=user.id%>">
    <%=user.name%>
    </a></li>
<%end%>
</ul>

<a href="/users">See all users</a>
<a href="/logout">Log out</a>