<h1>Sign up for the Faves Portal</h1>

<form  action="/users" method="post">
  <p>Username: <input type="text" name="user[username]"></p>
  <p>Password: <input type="password" name="user[password]"></p>
  <input type="submit" value="Sign up now">
</form>